button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

header {
  border: 10px solid transparent;
  border-image: linear-gradient(45deg, #d4af37, #fff8d6) 1;
  height: 100px;
  color: purple;
  display: flex;
  justify-content: center;
  align-items: center;

  background: repeating-linear-gradient(
    45deg,
    #000 0,
    #000 40px,
    #c0c0c0 40px,
    #c0c0c0 50px
  );

  padding: 20px;
}

.nav {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: #555;
  padding: 5px 10px;
  border-radius: 6px;
  transition: 0.5s;
}

.navLink:hover {
  background: #eee;
}

.navLink.activeNL {
  background: #555;
  color: white;
  pointer-events: none; /* disabilita il click */
  cursor: default;
}

.itemCard {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageBox {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageBox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageBox .heart {
  position: absolute;
  
  width: 32px;
  height: 32px;
  background-color: #555;
  border-radius: 8px;
  bottom: 10px;
  right: 10px;
}

.imageBox .remove {
  position: absolute;
  
  width: 32px;
  height: 32px;
  font-weight: 600;
  background-color: #9999995e;
  color: red;
  border-radius: 8px;
  top: 10px;
  right: 10px;
}

.itemCard p {
  margin: 5px 0;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.itemCard p.description {
  max-height: 80px;
  overflow: hidden;
}

.itemCard p.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quantityRow, .emptyOrBuyBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.qntInput {
  width: 60px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.total {
  font-weight: bold;
  color: #444;
}

.addToCartBtn {
  padding: 6px 12px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.addToCartBtn:hover {
  background: #555;
}

.addToCartBtn.disabled {
  background: #aaa;
  cursor: not-allowed;
}

/* Pages: Products and Wishlist */
.outOfStock {
  color: red;
  font-weight: 600;
  margin-top: 10px;
}

/* Components: QuantityPrice */
.limitReached {
  color: orange;
  font-weight: 600;
  margin-top: 5px;
}

.buyBtn,
.emptyBtn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.buyBtn {
  background: #333;
  color: white;
}

.buyBtn:hover {
  background: #555;
}

.emptyBtn {
  background: #333;
  color: white;
}

.emptyBtn:hover {
  background: #555;
}